.customtitle-heading,
.customtitle-text {
  width: 100%;
}

.customtitle-align-left {
  text-align: left;
}

.customtitle-align-center {
  text-align: center;
}

.customtitle-align-right {
  text-align: right;
}

.customtitle-color-default {
  color: inherit;
}

.customtitle-color-primary {
  color: var(--text-color-primary);
}

.customtitle-color-primary-dark {
  color: var(--text-color-primary-dark);
}

.customtitle-color-text {
  color: var(--text-color);
}
