footer {
    background-color: var(--light-color);
    font-size: var(--body-font-size-xs);
}

footer .footer > div {
    margin: auto;
    max-width: 1200px;
    padding: 40px 24px 24px;
}

footer .footer p {
    margin: 0;
}

footer .footer img {
    width: 62px;
    height: 48px;
}

footer .footer .section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
}

footer .footer .section div p:not(:first-child) {
    display: flex;
    justify-content: center;
    gap: 18px;
    flex-direction: column;
    text-align: center;
}

@media (width >= 600px) {
    footer .footer .section div p:not(:first-child) {
        flex-direction: row;
    }
}

@media (width >= 900px) {
    footer .footer > div {
        padding: 40px 32px 24px;
    }
}
